
.Home-Style {
    min-height: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 6vmin;
    color: #00bbf9;
    font-weight: bold;
}