
.ContentItem-Style {
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #222222;
    text-align: initial;
}

.ContentItem-Prompt {
    background-color: #000000;
    margin-left: 10vmin;
    margin-right: 10vmin;
    padding: 3vmin;
    font-family: 'Courier New', 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #FFFFFF;
    text-align: start;
}

.ContentItem-Center {
    text-align: center;
}

.ContentItem-Style a {
    text-decoration: none;
    font-size: 5vmin;
}