
.App-Style {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*------------------------------------------------
.App {
    background-color: #FFFFFF;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + 2vmin);
    color: #666666;
    text-align: center;
}

.App-Top {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.App-Top-Icon-Image {
    width: 18vmin;
}

.App-Top-Logo {
    min-height: 18vmin;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 12vmin;
    color: #e63946;
    text-align: center;
}

.App-Content {
    background-color: #FFFFFF;
    margin-top: 6vmin;
    margin-left: 4vmin;
    margin-right: 4vmin;
    margin-bottom: 6vmin;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.App-Content-Title {
    font-family: 'Oswald', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
    color: #333333;

}

.App-Content-Text {
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #222222;
    text-align: center;

}

.App-Content-Prompt {
    background-color: #000000;
    margin-left: 8vmin;
    margin-right: 8vmin;
    padding: 3vmin;
    font-family: 'Courier New', 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #FFFFFF;
    text-align: start;

}

.App-Fixed-Menu {
    background-color: #ef233c;
    position: fixed;
    bottom: 6vmin;
    right: 6vmin;
    width: 18vmin;
    height: 18vmin;
    border-radius: 9vmin;
}

*/