
.Content-Style {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

/*---------------------------------------------------*/

.App-Content {
    background-color: #FFFFFF;
    margin-top: 6vmin;
    margin-left: 4vmin;
    margin-right: 4vmin;
    margin-bottom: 6vmin;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.App-Content-Title {
    font-family: 'Oswald', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
    color: #333333;

}

.App-Content-Text {
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #222222;
    text-align: center;

}

.App-Content-Prompt {
    background-color: #000000;
    margin-left: 8vmin;
    margin-right: 8vmin;
    padding: 3vmin;
    font-family: 'Courier New', 'Roboto', sans-serif;
    font-size: 4vmin;
    color: #FFFFFF;
    text-align: start;

}