
.MenuBox-Style {
    background-color: #f7fff7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 16vmin;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px grey; 
}

.MenuBox-Itens {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.MenuBox-Close {
    padding-top: 1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.MenuBox-Close-Icon {
    font-size: 8vmin;
    font-weight: bold;
    color: #ef233c;
}