
.MenuBox-Style {
    position: fixed;
    right: 4vmin;
    bottom: 4vmin;
    width: auto;
    min-height: auto;
    display: flex;
    flex-direction: row;
}

.MenuBox-Itens {
    background-color: #4ea8de;
    padding: 4vmin;
    padding-left: 8vmin;
    padding-right: 8vmin;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8vmin;
    box-shadow: 4px 6px 12px grey;
    opacity: 0.95;
}

.Menu-Item {
    background-color: #3d98cd;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    width: 90%;
    padding-left: 6vmin;
    padding-right: 6vmin;
/*
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 6vmin;
    padding-right: 6vmin;
*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vmin;
    
    font-size: 8vmin;
    color: #FFFFFF;
}

.MenuBox-Close-Box {
    background-color: #444444;
    display: flex;
    padding: 0.6vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 6px 12px grey;
    opacity: 0.5;
}

.MenuBox-Close-Icon {
    font-size: 8vmin;
    font-weight: bold;
    color: #FFFFFF;
}